
    body {
        background-color: rgb(89, 183, 82);
        color: black;
        }
    
img{
    border-radius: 10px;
    width: 15%;


}

    .nombre{
        list-style-type: none;
    }

    .direccion{
        list-style-type: none;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    
}

a:visited{
    text-decoration: none;
}

a:hover{
    background-color: rgb(0, 19, 116);
    color: white;
}

li{
    list-style-type: none;
}

h2{
    color: brown;
}

h3{
    color: rgb(227, 227, 154);
}